body {
    font-family: Verdana, sans-serif;
    background-color: #a4754c;
    margin: 20px;
    font-size: 1.2em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #cc956e;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Book Antiqua', serif;
}

h2, h3 {
    color: #333;
    font-family: 'Book Antiqua', serif;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}

.go-top {
    text-align: right;
    margin-top: 10px;
}

.go-top a {
    display: block;
    padding: 8px 12px;
    background-color: #a4754c;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.go-top a:hover {
    background-color: #cc956e;
}
